[Unit]
Description=POE Hat Fan and Display Controller
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/ubuntu/raspberrypi-iot-setup/poe_hat/
ExecStart=/usr/local/bin/pipenv run python main.py

[Install]
WantedBy=multi-user.target
